<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ config.base_url }}/style.css">
        <!-- <link rel="stylesheet" href="{{ config.base_url }}/academicons/css/academicons.min.css"/> -->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    </head>
    <body>
        <h>Geometry in the Age of Data‑Driven Robotics</h>
        <p>
        In recent years, data-driven techniques have begun to dominate robotics research across perception,
        control, and decision-making pipelines. Along the way, many paradigms for guaranteeing safety,
        interpretability, and provable performance appear to have lost their former prominence, despite
        once seeming indispensable. Indeed, the toolkit of differential geometry—including Lie groups,
        topology, screw theory and dual quaternions—lies at the foundation of core robotics problems
        across kinematics, dynamics, and machine perception, and yet many promising advances seem to
        have abandoned such mathematical structure in favor of the world of computation and learning.
        Therefore, in this workshop, we aim to question the evolving role of geometric methods within
        today’s landscape—across research, education, and scientific communication—via panel debates
        with domain experts. The goal is to invite controversial discussions to confront the tensions and
        synergies between classical geometry and modern learning-centric paradigms.
        The discussions will be framed around three cohesive questions:
        </p>

        <ul class="custom-headings">
          <li>
            <h3>Research</h3>
            <p>What role can geometry play within the current research landscape, and what is the most effective means of developing representations: through learning or mathematical structure? Is the success of data-driven approaches due to methodological superiority or merely a temporary convenience due to data abundance in certain domains?</p>
          </li>

          <li>
            <h3>Education</h3>
            <p>What is the right balance in the curricula between geometric rigor and machine learning? Should differential geometry be a priority, even when many students may already be overwhelmed as they grapple with probabilistic and deep-learning concepts?</p>
          </li>

          <li>
            <h3>Communication</h3>
            <p>What narrative frameworks best convey the relevance and impact of geometry? How should authors balance the expressivity of abstract mathematical terminology with the associated high barrier to entry? Conversely, what is lost by writing in language that is suitable for a broader audience? In an era where “AI” dominates headlines, we will discuss how to articulate the complementary role of geometry to stakeholders ranging from funding agencies to industry partners and the public.</p>
          </li>
        </ul>
    </body>
</html>